.footer {
  position: static;
  // padding: 10px 10px 0px 10px;
  bottom: 0;
  /* Height of the footer*/
  color: white;
  padding: 10px;
  text-align: center;
  background: black;
  font-size: 2vh;
}
