<app-buscador></app-buscador>
<ul class="slider">
  <li class="slides" *ngIf="filmeSlider">
      <div #div class="slide"
        id="{{'slide' + filmeSlider['id']}}">
        <!-- <b>{{ pelicula['original_title'] }}</b> -->
        <img [alt]="filmeSlider.nombre"
          appImgNotFound [src]= "filmeSlider.fondo" />
      </div>
  </li>
</ul>
<div class="buttons">
  <button class="button" #retroceder id="retroceder" (click)="plusDivs(-1)"><</button>
  <button class="button" #avanzar id="avanzar" (click)="plusDivs(+1)">></button>
</div>

<ul class="novedades">
  <li class="list">
    <div class="subtitle">
      <h2>Novedades</h2>
      <button class="ver-todas">Ver todas ></button>
    </div>
    <div class="movies">
      <div
        *ngFor="let pelicula of peliculaSlider.slice(2,7)"
        class="item" onclick="">
        <img appImgNotFound [alt]="pelicula.nombre"
          src="{{pelicula.poster}}" />
          <p class="title"> {{pelicula.nombre}} ({{pelicula.anioSalida.slice(0,4)}}) </p>
      </div>
    </div>
    <div class="subtitle">
      <h2>Series</h2>
      <button class="ver-todas">Ver todas ></button>
    </div>
    <div class="series">
      <div *ngFor="let serie of serieSlider.slice(2,7)"
        class="item">
        <img appImgNotFound [alt]="serie.nombre"
          src="{{serie.poster}}" />
        <p class="title">{{serie.nombre}} ({{serie.anioSalida.slice(0,4)}})</p>
      </div>
    </div>
  </li>
</ul>


