<div class="menu-container">

  <a routerLink="/" class="close"></a>
  <div id="nav-fullscreen">
    <ul class="list">
      <li>
        <a routerLink="/peliculas">Peliculas</a>
      </li>
      <li>
        <a routerLink="/buscador">Buscador</a>
      </li>
      <li>
        <a routerLink="/series">Series</a>
      </li>
      <li>
        <a routerLink="/milista">Mi lista</a>
      </li>
      <li>
        <a routerLink="/miperfil">Mi perfil</a>
      </li>
    </ul>
  </div>
</div>

<!-- <a id="nav-toggle">
  <span></span>
  <span></span>
  <span></span>
</a> -->

