<div class="menu-container">

  <div routerLink="/home" class="close-container">
    <a class="close"></a>
  </div>
  <div id="nav-fullscreen">
    <ul class="list">
      <li>
        <a routerLink="/home">Inicio</a>
      </li>
      <li>
        <a routerLink="/buscador">Buscador</a>
      </li>
      <li>
        <a routerLink="/series">Series TV</a>
      </li>
      <li>
        <a routerLink="/peliculas">Peliculas</a>
      </li>
      <li>
        <a routerLink="/milista">Mi lista</a>
      </li>
      <li>
        <a routerLink="/miperfil">Mi perfil</a>
      </li>
    </ul>
  </div>
</div>


