/* You can add global styles to this file, and also import other style files */
body{
  background-color: rgba(0,0,0,0.85);
  li{
    list-style-type: none;
    text-decoration: none;
    margin: 12px;
    a{
      text-decoration: none;
    }
  }
}
