<div class="busqueda">
  <div class="wrap">
    <div class="search">
      <form ngNativeValidate  #form="ngForm" class="form"
        (ngSubmit)="onSubmit(valor.value)">
        <button aria-label="busqueda"
          type="submit" class="searchButton">
          <i class="gg-search"></i>
        </button>
        <input list="historial" required #valor value=""
          name="busqueda" type="text" class="searchTerm" placeholder="buscar">
      </form>
    </div>
</div>
<div *ngIf="busqueda.length == 0 && valor.value" class="not-found">
  <h2>No se han encontrado resultados para la busqueda</h2>
</div>
 <ul class="busqueda-list"
  *ngIf="busqueda">
    <li *ngFor="let item of busqueda">
      <div
        class="item">
        <a routerLink="{{'/detalle/'+ item.categoria + '/' + item.id}}">
          <img appImgNotFound [alt]="item.nombre"
            src="{{item.poster}}" />
          <p *ngIf="item.nombre"
            class="title"> {{item.nombre}} ({{item.anioSalida ? item.anioSalida.slice(0,4) : ""}}) </p>
        </a>
      </div>
    </li>
  </ul>
  <div class="pagination-container" *ngIf="busqueda.length != 0">
    <button  aria-label="anterior-pagina" class="pagination-btn" id="retroceder"
      *ngIf="peliculaServiceAPI.pagina != 1" type="submit" (click)="retrocederPagina()">
      < Pagina anterior
    </button>
    <button aria-label="siguiente-pagina" class="pagination-btn" *ngIf="peliculaServiceAPI.pagina != numeroPaginas"
      id="avanzar" type="submit" (click)="avanzarPagina()">
      Pagina Siguiente >
    </button>
  </div>
</div>
<datalist id="historial">
  <option *ngFor="let item of historial" [value]="item.busqueda">
  </option>
</datalist>
